<!--função pra carregar arquivos static de estilo (load)-->
{%load static %}
<html>
<head>
    <title>App Enquete</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{%static 'main/style.css' %}">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">-->
</head>
<body>
    {% if pergunta_list %}
        <h2>Lista das Ultimas Enquetes</h2>
        <ul class="t">
            {% for pergunta in pergunta_list %}
                <li><a href="{% url 'main:detalhes' pergunta.id %}">
                    {{ pergunta.texto }}
                </a> (<a href="{% url 'main:resultado' pergunta.id %}">ver parcial</a>)</li>
            {% endfor %}
        </ul>

    {% else %}
        <h3>Não há enquetes cadastrados até o nomento!</h3>
    {% endif %}
    <div class="dropdown">
        <label for="nome">Lista de Categorias:</label><br>
        <select id="categoria" name="categoria" required>
          <option hidden value="">Categorias</option>
          {% for categoria in categorias%}s
              <option value="{{ categoria.id }}">{{categoria.titulo}}</option>
            {% endfor %}
        </select>



    <button type="button"  onclick="location.href='/'">Consultar</button>



    </div>



</body>

</html>