<html>
    <head>
        <title>App Enquete</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <h2>Resultado Parcial da Enquete {{pergunta.id}}</h2>
        <u> Pergunta</u>:{{pergunta.texto}}<br/>
        <u>Data de Publicação</u>: {{pergunta.data_publicacao}}
            <ul>
                {% for opcao in pergunta.opcao_set.all %}
                    <li>{{opcao.texto}} = {{opcao.votos}}
                    voto{{opcao.votos | pluralize}}</li>
                {% endfor %}
            </ul>
            <hr/>
            <a href = "{% url 'main:detalhes' pergunta.id %}">Deseja votar Novamente?</a>
            <br/>
            <a href = "{% url 'main:index' %}">Retornar á pagina Principal</a>
            <br>
            <a href = "{% url 'main:root' %}">Retornar á pagina root</a>

        </body>
</html>