<html>

    <head>
        <title> Aplicação DSWeb 2020.1</title>
    </head>
    <body>
        <h1>Aplicação da Disciplina DSWeb 2020.1</h1>
        <h3>Selecione a aplicação desejada:</h3>
        <ul>
            <li><a href="{% url 'main:index' %}">Aplicação Enquete - Modulo 01</a></li>

            <!--linha importante-->
            <li><a href="{% url 'agenda:index' %}">Aplicação Agenda de Tarefas - Modulo 02</a></li>

        </ul>
        <hr>
        <b>Rafael Rufino </b> (<i>rafaelrafael.52@gmail.com</i>)

    </body>

</html>