{% extends "model-page.html" %}

{% block content %}

<div class="container">
	<h2>Novo usuário</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden"  value="C6G5qlVOJLzcWk4u5S95tRFWm52Gz3QuP5s6vZEZWR5BKOeIFtY6TcLXksCBT4Sh">
        <label for="id_username">Usuário:</label><input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" class="form-control"><br><span class="helptext"></span>
        <label for="id_password1">Senha:</label><input type="password" name="password1" required="" id="id_password1" class="form-control"><br><span class="helptext"></span>
        <label for="id_password2">Confirmação de senha:</label><input type="password" name="password2" required="" id="id_password2" class="form-control"><br><span class="helptext"></span>
        <button type="subimt" class="btn btn-success">Criar
            
        </button>
    </form>
  
        <script type="text/javascript">var senha = document.formulario.senha;
var regex = /^(?=(?:.*?[A-Z]){3})(?=(?:.*?[0-9]){2})(?=(?:.*?[!@#$%*()_+^&}{:;?.]){1})(?!.*\s)[0-9a-zA-Z!@#$%;*(){}_+^&]*$/; 

if(senha.length < 8)
{
    alert("A senha deve conter no minímo 8 digitos!");
    document.formulario.senha.focus();
    return false;
}
else if(!regex.exec(senha))
{
    alert("A senha deve conter no mínimo 3 caracteres em maiúsculo, 2 números e 1 caractere especial!");
    document.formulario.senha.focus();
    return false;
}
return true;</script>

{% endblock %}  
