{% extends "agenda/model-page.html" %}
{% block content %}

{% if tarefa %}
<h1 class="text-center">Editar Tarefa</h1>
<br>
{% else %}
    <h1 class="text-center">Cadastrar Tarefa</h1>
  <br>
  {% endif %}
    <form enctype="multipart/form-data" action="submit", method="POST">{% csrf_token %}
        <div class="container">
            <input type="number" class="form-control" name="tarefa_id" value="{{ tarefa.id }}" hidden>
            <div class="form-group">
                <label for="atividade">Atividades</label>
                <input type="text" class="form-control" name="atividade" value="{{ tarefa.atividade }}" required="" placeholder="Digite sua Atividade">
            </div>
            <div class="form-group">
                <label for="disciplina">Disciplinas</label>
                <input type="text" class="form-control" name="disciplina" value="{{ tarefa.disciplina }}" required="" placeholder="Digite um disciplina">
            </div>   
            <div class="form-group">
                <label for="diaSemana">Data da Entrega</label>
                <input type="datetime-local" class="form-control" name="diaSemana" value="{{ tarefa.diaSemana }}" required="">
            </div> 

            <div class="form-group">
                <label for="statusTarefa">Status da Tarefa</label>
                <select type= "text" class="form-control" name="statusTarefa" value="{{ tarefa.statusTarefa}" required>
                    <option value="">Selecione o status da atividade</option>
                    <option value="Adicionada">Adicionada</option>
                    <option value="Pendente">Pendente</option>
                    <option value="Entregue">Entregue</option>
                </select>
           </div>  

            <button type="submit" class="btn btn-primary">
                {% if tarefa %}
                    Alterar
                {% else %}
                    Cadastrar
                {% endif %}
            </button>
        </div>
      </form>
      <br>

{% endblock %}	
