{% extends "agenda/model-page.html" %}

{% block content %}
	<table id='minhaTabela'>
        <thead>
        	<tr>
        		<th><a class="nav-link" href="/agenda/tarefas/todos/"><i class="fas fa-clipboard-list"></i><br>Tarefas</a></th>
        		<th><a class="nav-link" href="/agenda/tarefas/usuario/"><i class="fas fa-clipboard-list"></i><br>Minhas Tarefas</a></th>
        		<th><a class="nav-link" href="/agenda/tarefas/registro/"><i class="fas fa-clipboard-list"></i><br>Nova Tarefa</a></th>
        	</tr>
        </thead>
    </table>
    <table id='minhaTabela'>
        <thead>    	
          <tr>
            <th>Atividades</th>
            <th>Disciplinas</th>
            <th>Data da Entrega</th>
            <th>Status Da Tarefa</th>
                <div class="bs-example">
                  <div class="btn-group">
                  </div>
                </div>
              </th>
            </tr>
          </thead>
        <tbody>
          {% for c in tarefa %}
            <tr class="rows" data-href="../detalhes/{{c.id}}">
              <td>{{ c.atividade }}</td>
              <td>{{ c.disciplina }}</td>
              <td>{{ c.diaSemana }}</td>
              <td>{{ c.statusTarefa }}</td>
            </tr>
           </a> 
          {% endfor %}
        </tbody>
      </table>
      
       <script type="text/javascript">
          $(".rows").click(
  function(e){
    window.location.replace($(this).data('href'));
    return false;
  }
)
        </script>  
	
{% endblock %}	