<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Agenda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
    
  body{
    background-color: #f2f2f2
  }
  </style>
</head>
  <body>
</div>
  <div class="container mt-4">  
    <form action="submit", method="POST">{% csrf_token %}
      <div class="row" style="margin-left:20%; margin-top:10%">
        <div class="col-8">
          <h2 class="text-center">Agenda de tarefas</h2>
            <div class="form-group">
              <label for="username">Usuário:</label>
              <input type="username" class="form-control" id="username" placeholder="Digite seu usuario" name="username" size="10">
            </div>
            <div class="form-group">
              <label for="pwd">Senha:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Senha" name="password">
            </div>
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
              {% endif %}
            <button type="submit" class="btn btn-success btn-block btn-block">Entrar</button>
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Cadastrar-se</button>
        </div>
      </div>
    </form>
  </div>
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Novo usuário</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
            <!-- Modal body -->
            <div class="modal-body">
              <br>
                <form name="formuser" method="POST">
                {% csrf_token %}
                <label for="id_username">Usuário:</label>
                <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" class="form-control"><br>
                <span class="helptext"></span>
                <label for="id_password1">Senha:</label>
                <input type="password" name="password1" required="" id="id_password1" class="form-control" pattern="[A-Za-z-0-9]{8,}" title="Sua senha precisa conter pelo menos 8 caracteres"><br>
                <span class="helptext"></span>
                <label for="id_password2">Confirmação de senha:</label>
                <input type="password" name="password2" required="" id="id_password2" class="form-control"><br>
                <span class="helptext"></span>
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                <button type="subimt" class="btn btn-success" onclick="Password()">Criar </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
  </body>
  <script >
          var password = document.getElementById("id_password1")
      , confirm_password = document.getElementById("id_password2");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Senhas diferentes!");
      } 
      else {
        confirm_password.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;</script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
       function Password(){
         
        var password1 = formuser.password1.value;

        if( password1.length >= 8){
          swal("Cadastrado", "com sucesso", "success");  
        }
    }
    </script>
</html>
