<!DOCTYPE html>
<html>
	<head>
		{% include "agenda/model-header.html" %}
	</head>

	<body>
		{% for tarefa in tarefas %}
			{tarefa.atividade}
		{% endfor %}
		{% block content %} 
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
		{% endblock %}
		
	</body>

</html>