<title>Agenda de Tarefa</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

<style>

.jumbotron.header{
        background-color: black;
        color: white;
        /* background-image: linear-gradient(#0099ff,#002e4d) */


    }
#minhaTabela {
  width: 80%;
  margin: 0 auto;
  border: 0;
  box-shadow: 0 5px 30px darkgrey;
  border-spacing: 0;
}

#minhaTabela thead th {
  font-weight: bold;
  background-color: rgb(224, 192, 9);

  color: white;
  padding: 5px 10px;
  text-align: center;
}

#minhaTabela tr td {
  padding: 5px 10px;
  text-align: center;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
}

#minhaTabela tr td:last-child {
  text-align: center;
}


/**Cores**/

#minhaTabela tr:nth-child(odd) {
  background-color: #eee;
}
a,
a:hover,
a:focus {
    color: rgb(103, 169, 255);
  text-decoration: none;
  transition: all 0.3s;
}
a.nav-link{
color:white;
}


.nav-link:hover,
.rows:hover{
color: rgb(0, 110, 255);
}


</style>


<div class="jumbotron header text-center" >
  <h3>Agenda de Tarefas</h3>
  <p style= color:red>Óla,{{user}}</p>
  <br>
  <a style= "color:rgb(43, 126, 235)"; class="btn btn-outline-warning" href="/"> <p>Ir para o Home</p></a> 
  <br>
  <br>
  <button class="btn btn-outline-warning"><a href="/agenda/logout/"><b>Logout</a></button>

</div>


