{% extends "agenda/model-page.html" %}
{% block content %}

<!-- Ini Modal -->
  <div class="modal fade" id="modal_confirme">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">      
        <!-- Modal Header -->
        <div class="modal-header">
         <h4>Remover Agenda</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>        
        <!-- Modal body -->
        <div class="modal-body text-center">
            <h4 class="modal-title" >Deseja realmente excluir? <strong style="color:#808080;">{{tarefa.atividade}}</strong> </h4>
        </div> 
        <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">CANCELAR</button>
             <a href="/agenda/tarefas/delete/{{ tarefa.id }}/">
                <button type="button" class="btn btn-danger">EXCLUIR</button>
            </a>
      </div>
              
      </div>
    </div>
  </div>
  <!-- End Modal -->
	<table id='minhaTabela'>
        <thead>
          <tr>
            <th><a class="nav-link" href="/agenda/tarefas/todos/"><i class="fas fa-clipboard-list"></i><br>Atividades</a></th>
            <th><a class="nav-link" href="/agenda/tarefas/usuario/"><i class="fas fa-clipboard-list"></i><br>Minhas Tarefas</a></th>
            <th><a class="nav-link" href="/agenda/tarefas/registro/"><i class="fas fa-clipboard-list"></i><br>Nova Tarefa</a></th>
          </tr>
        </thead>
    </table>
<h1 class="text-center mp-5">Detalhes da Tarefa</h1>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-6">
				<p><b>Atividade: </b>{{tarefa.atividade}}</p>
				<p><b>Disciplina: </b>{{tarefa.disciplina}}</p>
        <p><b>Data da Entrega: </b>{{tarefa.diaSemana}}</p>
        <p><b>Status da Tarefa: </b>{{tarefa.statusTarefa}}</p>
				{% if request.user == tarefa.user %}
					<a href="/agenda/tarefas/registro/?id={{tarefa.id}}">
					<button type="button" style="width:100px" class="btn btn-primary">Alterar</button></a>
					<button type="button" class="btn btn-danger"   style="width:100px"  data-toggle="modal" data-target="#modal_confirme">Excluir</button>
				{% endif%}
      </div>

    
      </div>
		</div>
	</div>

{% endblock %}	
