body{
    background:white;
    border: 1px solid gray;
    width: 600px;



}
h2{
    background: black;
    color:white;
    margin-bottom: 10px;
    width:600px;
    text-align: center;

}
.dropdown label{
    background: #1193f7;
    color:white;
    font-size:14px;
    padding:4px;
}
#categoria{
    margin-top:8px



}

li a{
    color:blue;

}
li{
margin-bottom: 5px;
}
button{
    background:green;
    color: white;
    font-size:12px;
    border-radius: solid 5px green;
}
