<html>
    <head>
        <title>App Enquete</title>
    </head>

    <body>
        <h2> Detalhes da Enquete {{ pergunta.id }}</h2>
        <u> Pergunta</u>:{{pergunta.texto}}<br/>
        <u>Data de Publicação</u>:{{pergunta.data_publicacao}}

        {% if error_message %}
            <hr/>
                <strong>{{ error_message }}</strong>
            <hr/>
        {% endif %}
        <form action ="{% url 'main:votacao' pergunta.id%}" method = "post">

            {% csrf_token %}
            <ul>
                {% for opcao in pergunta.opcao_set.all %}
                    <li><input type= "radio" name = "opcao"
                        id ="opcao{{forloop.counter}}" value ="{{opcao.id}}">
                        <label for="opcao{{ forloop.counter}}">
                            {{opcao.texto}}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <input style="background-color:green; color: white;" type="submit" value="Registre o seu Voto">
        </form>
    </body>
</html>