
<html>
    <head>

         <title>App Enquete</title>

         </head

        <body>
            {% if ultimas_perguntas %}
                <h2>Lista das Ultimas Enquetes</h2>
                <ul>
                    {% for pergunta in ultimas_perguntas %}
                        <li><a href="{% url 'main:detalhes' pergunta.id %}">
                            {{ pergunta.texto }}
                        </a></li>
                    {% endfor %}
                </ul>

            {% else %}
                <h3>Não há enquetes cadastrados até o nomento!</h3>
            {% endif %}
        </body>
</html>
